<?xml version="1.0"?>
<config>
    <modules>
        <Muaw_ProductInRange>
            <version>0.1.0</version>
        </Muaw_ProductInRange>
    </modules>
    <frontend>
        <routers>
            <productinrange>
                <use>standard</use>
                <args>
                    <module>Muaw_ProductInRange</module>
                    <frontName>productinrange</frontName>
                </args>
            </productinrange>
        </routers>
        <layout>
            <updates>
                <productinrange>
                    <file>productinrange.xml</file>
                </productinrange>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <productinrange>
                <class>Muaw_ProductInRange_Helper</class>
            </productinrange>
        </helpers>
        <blocks>
            <productinrange>
                <class>Muaw_ProductInRange_Block</class>
            </productinrange>
        </blocks>
    </global>
</config> 